@import './base.css';


body {
  background-image: url('@/assets/img/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  font-family: 'MPLUS1p';
  color: #f5f5f5;
  font-size: 16px;
  /* background-position: center; */
  /* width: 100%; */
  /* height: auto; */
  /* text-align: center; */
}